<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>HOME</h1>
    <h2>Retrieving data and SSR</h2>
    <h2>All verbs</h2>
    <div class="verbs content"> 

        <% if (showVerbs.length > 0) { %>
            <% showVerbs.forEach(v => { %>
        <div class="row">
            <div class="col-sm-6">
                <div class="card mystyle-card">
                    <img class="card-img-top mystyle-card-image" src="<%= v.gifUrl %>" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title sourcename"><%= v.sourceName %></h5>
                      <p class="card-text rest"><%= v.v1 %>, <%= v.v2 %>, <%= v.v3 %></p>
                      <a href="#" class="card-link">Card link</a>
                      <figure>
                          <figcaption id="figcaption">🔉</figcaption>
                          <audio id="audio" hidden>
                            <source src="https://media.merriam-webster.com/audio/prons/en/us/mp3/number/3d000001.mp3" type="audio/mp3">
                            </audio>
                      </figure>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
            </div>
        </div>
                    <!-- <h3 class="sourcename"><%= v.sourceName %></h3>
                    <p class="rest"><%= v.v1 %>, <%= v.v2 %>, <%= v.v3 %></p> -->
                
                <% }) %>
            <% } else { %>
                <p>There are no verbs to display</p>
                <% } %>
    </div>
    
    <%- include('./partials/footer.ejs') %>
    <script>
        let a = 0;
        document.getElementById("figcaption").addEventListener("click",function(){
            if(a==0) {
                document.getElementById("audio").play();
                a++;
                document.getElementById("figcaption").style.opacity="1";
            }else{
                document.getElementById("audio").pause();
                a--;
                document.getElementById("figcaption").style.opacity=".5";
            }
        });
    </script>
</body>
</html>