<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="verbs content"> 
        <h2>All verbs</h2>

        <% if (showVerbs.length > 0) { %>
            <% showVerbs.forEach(v => { %>
                <h3 class="sourcename"><%= v.sourceName %></h3>
                <p class="rest"><%= v.v1 %>, <%= v.v2 %>, <%= v.v3 %></p>
                <% }) %>
            <% } else { %>
                <p>There are no verbs to display</p>
                <% } %>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>