<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="user content">
    <h1>Welcome <%= nick %>! You already have: <%= points %> points</h1>
    <hr>

    <h2>This is the content a logged in user can see</h2>

    <h3>
      <%= randomNumber = Math.floor(Math.random() * dbVerbs.length) %>
      <%= dbVerbs[randomNumber].sourceName %>
      <%= dbVerbs[randomNumber].v1 %>
      <%= dbVerbs[randomNumber].v2 %>
      <%= dbVerbs[randomNumber].v3 %>
      
    </h3>

        <div class="container">
            <div id="question-container" class="hide">
              <div id="question">Question</div>
              <div id="answer-buttons" class="btn-grid">
                <button class="btn">Answer 1</button>
                <button class="btn">Answer 2</button>
                <button class="btn">Answer 3</button>
                <button class="btn">Answer 4</button>
              </div>
            </div>
            <div class="controls">
              <button id="start-btn" class="start-btn btn">Start</button>
              <button id="next-btn" class="next-btn btn hide">Next</button>
            </div>
        
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
